
<div id="MShedule">
<!--顶部栏-->
<div id="header">
    <div class="retu"><a href="#/movie"><img class="back_img" src="img/headerback_3.png" height="25px" width="25px"/></a></div>
    <a style="width:75%;font-weight: bold">哈艺时尚影城-天河科韵店</a>
    <div class="dropdown">
        <img src="img/header03.png" height="40" width="55" class="dropdown-toggle" id="drop" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="true">
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="drop">
            <li><a href="#/"><img src="img/home.png" height="20" width="20"/>&nbsp;首页</a></li>
            <li><a href="#/login"><img src="img/people.png" height="20" width="20"/>&nbsp;个人中心</a></li>
        </ul>
    </div>
</div>

<!--影院信息-->
<div id="detial">
       <div id="title" style="width: 90%;">
           <a style="font-size:16px;text-decoration: none;">哈艺时尚影城-天河科韵店</a>
           <span style="color:#f26522;font-weight:bold;">7<sup>.3</sup></span>
           <p style="font-size: 14px;margin: 3px 21px 10px;">天河棠下天盈建博汇建材市场1楼</p>
       </div>
       <div style="width:10%;line-height:66px">
           <a id="link_detial" href="#/cinemadetail"><img src="img/more.png" height="20" width="20"/></a>
       </div>
</div>

<!--电影展示图-->
<div class="">
    <!--图片列表-->
    <div class="movie_nav">
       <div id="myTab" class="owl-carousel owl-theme tabs">
           <div  class="item">
               <a href="#spiderman" data-toggle="tab" id="spiderman_active" onclick="show01()">
                  <img src="img/Y-spiderman.jpg" height="112" width="72"/>
               </a>
           </div>

           <div  class="item">
               <a href="#Gintama" data-toggle="tab"  id="Gintama_active" onclick="show02()">
                   <img src="img/Y-Gintama.jpg" height="112" width="72"/>
               </a>
           </div>

           <div  class="item">
               <a href="#Dunkirk" data-toggle="tab" id="Dunkirk_active" onclick="show03()">
                   <img src="img/Y-Dunkirk.jpg" height="112" width="72"/>
               </a>
           </div>

           <div  class="item">
               <a href="#WarOfThePlanet" data-toggle="tab" id="WarOfThePlanet_active" onclick="show04()">
                   <img src="img/Y-WarOfThePlanet.jpg" height="112" width="72"/>
               </a>
           </div>

           <div  class="item">
               <a href="#Valerian" data-toggle="tab" id="Valerian_active" onclick="show05()">
                   <img src="img/Y-Valerian.jpg" height="112" width="72"/>
               </a>
           </div>

           <div  class="item">
               <a href="#Paradox" data-toggle="tab" id="Paradox_active" onclick="show06()">
                   <img src="img/Y-Paradox.jpg" height="112" width="72"/>
               </a>
           </div>
           <div  class="item">
               <a href="#WolfWarriors2" data-toggle="tab" id="WolfWarriors2_active" onclick="show07()">
                   <img src="img/Y-WolfWarriors2.jpg" height="112" width="72"/>
               </a>
           </div>
       </div>

        <!--电影信息-->
        <div id="movieContent" class="tab-content">
            <!--蜘蛛侠-->
            <div class="tab-pane fade in active" id="spiderman">
                <p class="title">蜘蛛侠：英雄归来<span>8<sup>.0</sup></span></p>
                <p class="type">动作,幻,冒险,科幻</p>

                <!--日期-->
                <ul class="nav nav-tabs"  ng-init="vd.activeTab=1">
                    <li ng-class="{active: vd.activeTab == 1}" ng-click="vd.activeTab = 1"><a data-toggle="tab">今天09月13日</a></li>
                    <li ng-class="{active: vd.activeTab == 2}" ng-click="vd.activeTab = 2"><a data-toggle="tab">明天09月14日</a></li>
                </ul>

                <!--场次-->
                <div id="schedule01" class="tab-content">

                    <div ng-show="vd.activeTab == 1">
                        <a href="#/seat" style="color: #000;text-decoration: none;">
                        <table>
                            <tr>
                                <td><h4 class="sj"><b>10:10</b></h4><p class="sc">12:23散场</p></td>
                                <td><h5 class="lang">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>10:40</b></h4><p class="sc">12:53散场</p></td>
                                <td><h5 class="lang">英语/3D</h5><p>4号VIP厅</p></td>
                                <td><h5 class="jq">￥115</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>11:20</b></h4><p class="sc">13:33散场</p></td>
                                <td><h5 class="lang">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>12:00</b></h4><p class="sc">14:13散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>12:50</b></h4><p class="sc">15:03散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>13:55</b></h4><p class="sc">16:08散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>14:35</b></h4><p class="sc">16:48散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                        </table>
                        </a>
                    </div>
                    <div ng-show="vd.activeTab == 2">
                        <a href="#/seat" style="color: #000;text-decoration: none;">
                        <table>
                            <tr>
                                <td><h4 class="sj"><b>12:10</b></h4><p class="sc">14:23散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>12:40</b></h4><p class="sc">14:53散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>4号VIP厅</p></td>
                                <td><h5 class="jq">￥115</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>13:20</b></h4><p class="sc">15:33散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>13:00</b></h4><p class="sc">15:13散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>13:50</b></h4><p class="sc">16:03散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>16:55</b></h4><p class="sc">18:08散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>18:35</b></h4><p class="sc">20:48散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                        </table>
                        </a>
                    </div>

                </div>

            </div>

            <!--银魂-->
            <div class="tab-pane fade" id="Gintama">
                <p class="title">银魂<span>7<sup>.0</sup></span></p>
                <p class="type"> 剧情,喜剧</p>

                <!--日期-->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#a3" data-toggle="tab">今天09月13日</a></li>
                    <li><a href="#a4" data-toggle="tab">明天09月14日</a></li>
                </ul>

                <!--场次-->
                <div id="schedule02" class="tab-content">

                    <div class="tab-pane fade in active" id="a3">
                        <a href="#/seat" style="color: #000;text-decoration: none;">
                        <table>
                            <tr>
                                <td><h4 class="sj"><b>12:10</b></h4><p class="sc">14:23散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>12:40</b></h4><p class="sc">14:53散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>4号VIP厅</p></td>
                                <td><h5 class="jq">￥115</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>13:20</b></h4><p class="sc">15:33散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>13:00</b></h4><p class="sc">15:13散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>13:50</b></h4><p class="sc">16:03散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>16:55</b></h4><p class="sc">18:08散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>18:35</b></h4><p class="sc">20:48散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                        </table>
                        </a>
                    </div>
                    <div class="tab-pane fade" id="a4">
                        <table>
                            <tr>
                                <td><h4 class="sj"><b>10:10</b></h4><p class="sc">12:23散场</p></td>
                                <td><h5 class="lang">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>10:40</b></h4><p class="sc">12:53散场</p></td>
                                <td><h5 class="lang">英语/3D</h5><p>4号VIP厅</p></td>
                                <td><h5 class="jq">￥115</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>11:20</b></h4><p class="sc">13:33散场</p></td>
                                <td><h5 class="lang">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>12:00</b></h4><p class="sc">14:13散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>12:50</b></h4><p class="sc">15:03散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>13:55</b></h4><p class="sc">16:08散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>14:35</b></h4><p class="sc">16:48散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>

            <!--敦刻尔克-->
            <div class="tab-pane fade" id="Dunkirk">
                <p class="title">敦刻尔克<span>8<sup>.2</sup></span></p>
                <p class="type"> 剧情,动作,战争</p>

                <!--日期-->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#a5" data-toggle="tab">今天09月13日</a></li>
                    <li><a href="#a6" data-toggle="tab">明天09月14日</a></li>
                </ul>

                <!--场次-->
                <div id="schedule03" class="tab-content">

                    <div class="tab-pane fade in active" id="a5">
                        <table>
                            <tr>
                                <td><h4 class="sj"><b>10:10</b></h4><p class="sc">12:23散场</p></td>
                                <td><h5 class="lang">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>10:40</b></h4><p class="sc">12:53散场</p></td>
                                <td><h5 class="lang">英语/3D</h5><p>4号VIP厅</p></td>
                                <td><h5 class="jq">￥115</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>11:20</b></h4><p class="sc">13:33散场</p></td>
                                <td><h5 class="lang">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>12:00</b></h4><p class="sc">14:13散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>12:50</b></h4><p class="sc">15:03散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>13:55</b></h4><p class="sc">16:08散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>14:35</b></h4><p class="sc">16:48散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="a6">
                        <table>
                            <tr>
                                <td><h4 class="sj"><b>12:10</b></h4><p class="sc">14:23散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>12:40</b></h4><p class="sc">14:53散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>4号VIP厅</p></td>
                                <td><h5 class="jq">￥115</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>13:20</b></h4><p class="sc">15:33散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>13:00</b></h4><p class="sc">15:13散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>13:50</b></h4><p class="sc">16:03散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>16:55</b></h4><p class="sc">18:08散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>18:35</b></h4><p class="sc">20:48散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>

            <!--猩球崛起-->
            <div class="tab-pane fade" id="WarOfThePlanet">
                <p class="title">猩球崛起3：终极之战<span>7<sup>.0</sup></span></p>
                <p class="type"> 剧情,动作,冒险,科幻</p>

                <!--日期-->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#a7" data-toggle="tab">明天09月14日</a></li>
                    <li><a href="#a8" data-toggle="tab">后天09月15日</a></li>
                </ul>

                <!--场次-->
                <div id="schedule04" class="tab-content">
                    <div class="tab-pane fade in active" id="a7">
                        <table>
                            <tr>
                                <td><h4 class="sj"><b>12:10</b></h4><p class="sc">14:23散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>12:40</b></h4><p class="sc">14:53散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>4号VIP厅</p></td>
                                <td><h5 class="jq">￥115</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>13:20</b></h4><p class="sc">15:33散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>13:00</b></h4><p class="sc">15:13散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>13:50</b></h4><p class="sc">16:03散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>16:55</b></h4><p class="sc">18:08散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>18:35</b></h4><p class="sc">20:48散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="a8">
                        <table>
                            <tr>
                                <td><h4 class="sj"><b>10:10</b></h4><p class="sc">12:23散场</p></td>
                                <td><h5 class="lang">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>10:40</b></h4><p class="sc">12:53散场</p></td>
                                <td><h5 class="lang">英语/3D</h5><p>4号VIP厅</p></td>
                                <td><h5 class="jq">￥115</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>11:20</b></h4><p class="sc">13:33散场</p></td>
                                <td><h5 class="lang">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>12:00</b></h4><p class="sc">14:13散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>12:50</b></h4><p class="sc">15:03散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>13:55</b></h4><p class="sc">16:08散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>14:35</b></h4><p class="sc">16:48散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <!--星际特工-->
            <div class="tab-pane fade" id="Valerian">
                <p class="title">星际特工：千星之城<span>8<sup>.3</sup></span></p>
                <p class="type"> 冒险,科幻</p>

                <!--日期-->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#a9" data-toggle="tab">今天09月13日</a></li>
                    <li><a href="#a10" data-toggle="tab">后天09月15日</a></li>
                </ul>

                <!--场次-->
                <div id="schedule05" class="tab-content">
                    <div class="tab-pane fade in active" id="a9">
                        <table>
                            <tr>
                                <td><h4 class="sj"><b>10:10</b></h4><p class="sc">12:23散场</p></td>
                                <td><h5 class="lang">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>10:40</b></h4><p class="sc">12:53散场</p></td>
                                <td><h5 class="lang">英语/3D</h5><p>4号VIP厅</p></td>
                                <td><h5 class="jq">￥115</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>11:20</b></h4><p class="sc">13:33散场</p></td>
                                <td><h5 class="lang">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>12:00</b></h4><p class="sc">14:13散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>12:50</b></h4><p class="sc">15:03散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>13:55</b></h4><p class="sc">16:08散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>14:35</b></h4><p class="sc">16:48散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="a10">
                        <table>
                            <tr>
                                <td><h4 class="sj"><b>12:10</b></h4><p class="sc">14:23散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>12:40</b></h4><p class="sc">14:53散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>4号VIP厅</p></td>
                                <td><h5 class="jq">￥115</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>13:20</b></h4><p class="sc">15:33散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>13:00</b></h4><p class="sc">15:13散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>13:50</b></h4><p class="sc">16:03散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>16:55</b></h4><p class="sc">18:08散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>18:35</b></h4><p class="sc">20:48散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>

            <!--杀破狼-->
            <div class="tab-pane fade" id="Paradox">
                <p class="title">杀破狼·贪狼<span>8<sup>.4</sup></span></p>
                <p class="type"> 剧情,动作</p>

                <!--日期-->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#a11" data-toggle="tab">明天09月14日</a></li>
                    <li><a href="#a12" data-toggle="tab">后天09月15日</a></li>
                </ul>

                <!--场次-->
                <div id="schedule06" class="tab-content">
                    <div class="tab-pane fade in active" id="a11">
                        <table>
                            <tr>
                                <td><h4 class="sj"><b>12:10</b></h4><p class="sc">14:23散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>12:40</b></h4><p class="sc">14:53散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>4号VIP厅</p></td>
                                <td><h5 class="jq">￥115</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>13:20</b></h4><p class="sc">15:33散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>13:00</b></h4><p class="sc">15:13散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>13:50</b></h4><p class="sc">16:03散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>16:55</b></h4><p class="sc">18:08散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>18:35</b></h4><p class="sc">20:48散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="a12">
                        <table>
                            <tr>
                                <td><h4 class="sj"><b>10:10</b></h4><p class="sc">12:23散场</p></td>
                                <td><h5 class="lang">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>10:40</b></h4><p class="sc">12:53散场</p></td>
                                <td><h5 class="lang">英语/3D</h5><p>4号VIP厅</p></td>
                                <td><h5 class="jq">￥115</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>11:20</b></h4><p class="sc">13:33散场</p></td>
                                <td><h5 class="lang">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>12:00</b></h4><p class="sc">14:13散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>12:50</b></h4><p class="sc">15:03散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>13:55</b></h4><p class="sc">16:08散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>14:35</b></h4><p class="sc">16:48散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <!--战狼2-->
            <div class="tab-pane fade" id="WolfWarriors2">
                <p class="title">战狼2<span>9<sup>.4</sup></span></p>
                <p class="type"> 动作,战争</p>

                <!--日期-->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#a13" data-toggle="tab">今天09月13日</a></li>
                    <li><a href="#a14" data-toggle="tab">明天09月14日</a></li>
                </ul>

                <!--场次-->
                <div id="schedule07" class="tab-content">

                    <div class="tab-pane fade in active" id="a13">
                        <table>
                            <tr>
                                <td><h4 class="sj"><b>10:10</b></h4><p class="sc">12:23散场</p></td>
                                <td><h5 class="lang">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>10:40</b></h4><p class="sc">12:53散场</p></td>
                                <td><h5 class="lang">英语/3D</h5><p>4号VIP厅</p></td>
                                <td><h5 class="jq">￥115</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>11:20</b></h4><p class="sc">13:33散场</p></td>
                                <td><h5 class="lang">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>12:00</b></h4><p class="sc">14:13散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>12:50</b></h4><p class="sc">15:03散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>13:55</b></h4><p class="sc">16:08散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>14:35</b></h4><p class="sc">16:48散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥90</h5><s>￥150</s></td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="a14">
                        <table>
                            <tr>
                                <td><h4 class="sj"><b>12:10</b></h4><p class="sc">14:23散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>12:40</b></h4><p class="sc">14:53散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>4号VIP厅</p></td>
                                <td><h5 class="jq">￥115</h5><s>￥150</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>13:20</b></h4><p class="sc">15:33散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>13:00</b></h4><p class="sc">15:13散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>13:50</b></h4><p class="sc">16:03散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>16:55</b></h4><p class="sc">18:08散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                            <tr>
                                <td><h4 class="sj"><b>18:35</b></h4><p class="sc">20:48散场</p></td>
                                <td><h5 class="sj">英语/3D</h5><p>6号厅</p></td>
                                <td><h5 class="jq">￥50</h5><s>￥90</s></td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="../js/movieschedule.js"></script>

